.main {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  height: 90%;
  margin: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-grow: 1;
  color: #000000;
  min-height: 7 0vh;
  text-align: center;
}
.mainLogo {
  height: 250px;
  width: auto;
}

.text {
  margin: auto auto auto auto;
  text-align: left;
}

.heroImage {
  height: 500px;
}

.mainSkills {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  height: 90%;
  margin: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  flex-grow: 1;
  color: #000000;
  min-height: 7 0vh;
  text-align: center;
}

.skills {
  display: flex;
  width: 90%;
  height: 90%;
  margin: auto;
}
.skillText {
  width: 100%;
  margin: 10px auto;
}
.skill {
  margin: auto;
}

.skillImage {
  height: 50px;
  width: auto;
}

.mainProducts {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  height: 90%;
  margin: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  flex-grow: 1;
  color: #000000;
  min-height: 7vh;
  text-align: center;
}

.products {
  display: flex;
  width: 90%;
  height: 90%;
  margin: auto;
}

.product {
  display: flex;
  margin: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  width: auto;
  margin: auto;
}

.productImage {
  height: 50px;
  width: auto;
  margin: auto 5px;
}

.mainDemo {
  background-color: #ffffff;
  background: url("/images/tool.png");
  background-position: center;
  background-size: cover;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  height: 90%;
  margin: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  flex-grow: 1;
  color: #ffffff;
  min-height: 70vh;
  text-align: center;
}

.mainTestimonio {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  height: 90%;
  margin: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  flex-grow: 1;
  color: #000000;
  text-align: center;
}

.testimonios {
  display: flex;
  width: 90%;
  height: 90%;
  margin: auto;
}

.testimonio {
  display: flex;
  flex-direction: column;
  margin: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  width: auto;
  margin: auto;
}

.productImage {
  height: 50px;
  width: auto;
  margin: auto 5px;
}

.mainCoach {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  height: 90%;
  margin: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  flex-grow: 1;
  color: #000000;
  text-align: center;
}
